<div class="container">
  <h1>Book Details</h1>
</div>
<h2>About The Author</h2>
<div class="AboutAuthor">
  <figure>
    <img src="../../../../../assets/imgs/AuthorOne.jpg" alt="">
  </figure>
  <figcaption>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit.
      Placeat, ipsa assumenda. Rem, at. Perspiciatis dicta,
      omnis hic impedit quaerat ut corporis necessitatibus fugiat cupiditate,
      sint quo accusamus perferendis voluptate adipisci.
      Lorem ipsum dolor sit amet consectetur adipisicing elit.
      Placeat, ipsa assumenda. Rem, at. Perspiciatis dicta,
      omnis hic impedit quaerat ut corporis necessitatibus fugiat cupiditate,
      sint quo accusamus perferendis voluptate adipisci.
      Lorem ipsum dolor sit amet consectetur adipisicing elit.
      Placeat, ipsa assumenda. Rem, at. Perspiciatis dicta,
      omnis hic impedit quaerat ut corporis necessitatibus fugiat cupiditate,
      sint quo accusamus perferendis voluptate adipisci.
      Lorem ipsum dolor sit amet consectetur adipisicing elit.
      Placeat, ipsa assumenda. Rem, at. Perspiciatis dicta,
      omnis hic impedit quaerat ut corporis necessitatibus fugiat cupiditate,
      sint quo accusamus perferendis voluptate adipisci...
      <span>
        ReadMore
        <fa-icon [icon]="faArrowUpRightFromSquare"></fa-icon>
      </span>
    </p>
  </figcaption>
</div>
<div class="AboutBook">
  <h2>About the book</h2>
  <p>First Edition</p>
  <table>
    <tr>
      <td>page</td>
      <td>240 pages, Hardcover</td>
    </tr>
    <tr>
      <td>Published on</td>
      <td>September 26, 2023</td>
    </tr>
    <tr>
      <td>Literary Awards</td>
      <td>
        Based in Orange County, California,
        I’m often in an oversized sweater drawing, writing,
        and enjoying some video games.
      </td>
    </tr>
    <tr>
      <td>Orginal Title</td>
      <td>Based in Orange County</td>
    </tr>
  </table>
</div>
