<section class="popular">
  <h1>Recommend</h1>
  <swiper-container class="mySwiper" slides-per-view= auto
  space-between="30" free-mode="true">
    <swiper-slide *ngFor="let Book of Books">
      <figure>
        <img src="http://zeyad200.runasp.net/{{Book.imageUrl}}" alt="">
        <div class="fav">
          <fa-icon [icon]="faHeart" [ngClass]="{active:Book.fav === true}"></fa-icon>
        </div>
      </figure>
      <figcaption>
        <h3>{{Book.title}}</h3>
        <p>{{Book.author}}</p>
        <button type="button" class="btn btn-primary" routerLink="/user/Book/{{Book.id}}/detail" (click)="scrolltop()">See More</button>
      </figcaption>
    </swiper-slide>
  </swiper-container>
</section>
