$blue1: #163172;
$blue2: #1E56A0;
$blue3: #D6E4F0;
$white: #F6F6F6;
$sidebar:#ffff;
$max-width-mobile:"max-width:767px";
$min-width-small:"min-width:768px";
$max-width-small:"max-width:991px";
$min-width-medium:"min-width:992px";
$max-width-medium:"max-width:1199px";
$max-width-large:"min-width:1200px";
