<div class="container">
  <div class="slider">
    <ul>
      <li class="" [ngClass]="{active: favourit === true}" (click)="getToFavourite()" >
        <a>Favourite</a>
      </li>
      <li class="" [ngClass]="{active: Toread === true}" (click)="getToReadInFeature()">
        <a>To read</a>
      </li>
      <li class="" [ngClass]="{active: CurrentlyReading === true}" (click)="getCurrentlyReadLIst()">
        <a>Currently Reading</a>
      </li>
    </ul>
  </div>
</div>
<div class="booklist">
  <div class="head">
    <div class="container">
      <ul>
        <li></li>
        <li>TITLE&AUTHOR</li>
        <li>ADD DATE</li>
        <li>READ DATE</li>
        <li></li>
      </ul>
    </div>
  </div>
  <div class="card" *ngFor="let fav of favBook | paginate: { itemsPerPage: itemsperpage, currentPage: p }">
    <div class="container">
      <div class="image">
        <figure>
          <img src="http://zeyad200.runasp.net/{{fav.imageUrl}}" alt="">
          <div class="fav">
            <fa-icon [icon]="faHeart" [ngClass]="{active:fav.fav === true}"></fa-icon>
          </div>
        </figure>
      </div>
      <div class="title">
        <h1>{{fav.title}}</h1>
        <p>{{fav.author}}</p>
      </div>
      <div class="ad">March 25 ,2024</div>
      <div class="rd">March 25 ,2024</div>
      <div class="btn d-flex flex-column">
        <button type="button" class="my-1 btn btn-primary" routerLink="/user/Book/{{fav.id}}/detail">See More</button>
        <button type="button" class="my-1 btn btn-danger" (click)="delete(fav.id)">Delete</button>
      </div>
    </div>
  </div>
  <div class="mt-8 py-5 d-flex justify-content-center align-items-center">
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
  </div>
</div>
