<footer>
  <div class="container">
    <div class="contact">
      <h1>
        <span>Cs</span>
        <span>reads</span>
      </h1>
      <ul>
        <li>
          <div class="icon">
            <fa-icon [icon]="faPhone"></fa-icon>
          </div>
          <p>(+22)123- 4567 -900</p>
        </li>
        <li>
          <div class="icon">
            <fa-icon [icon]="faEnvelope"></fa-icon>
          </div>
          <p>{{"support@doctorate.com"}}</p>
        </li>
        <li>
          <a href=""><img src="../../../../assets/imgs/instagram-line.png" alt=""></a>
          <a href=""><img src="../../../../assets/imgs/facebook-circle-fill.png" alt=""></a>
          <a href=""><img src="../../../../assets/imgs/twitter-x-line.png" alt=""></a>
        </li>
      </ul>
    </div>
    <div class="links">
      <ul>
        <li>
          <h1>Explore</h1>
        </li>
        <li><a>Home</a></li>
        <li><a>Services</a></li>
        <li><a>About us</a></li>
        <li><a>Testimonials</a></li>
        <li><a>News</a></li>
      </ul>
      <ul>
        <li>
          <h1>Explore</h1>
        </li>
        <li><a>Home</a></li>
        <li><a>Services</a></li>
        <li><a>About us</a></li>
        <li><a>Testimonials</a></li>
        <li><a>News</a></li>
      </ul>
      <ul>
        <li>
          <h1>Explore</h1>
        </li>
        <li><a>Home</a></li>
        <li><a>Services</a></li>
        <li><a>About us</a></li>
        <li><a>Testimonials</a></li>
        <li><a>News</a></li>
      </ul>
    </div>
  </div>
</footer>
