<div class="spinner" [ngClass]="{active: fetching === false}">
  <img src="../../../../assets/imgs/book-review.gif" alt="">
</div>
<section class="intro">
  <div class="container">
    <div class="row">
      <h1>Welcome to Csreads</h1>
      <p>Meet your favourit book ,find your reading community , and Manage Your reading life</p>
    </div>
  </div>
  <div class="row">
    <fa-icon [icon]="faAngleLeft"></fa-icon>
    <div class="slider">
      <figure>
        <img src="../../../../../assets/imgs/Book9.jpg" alt="">
      </figure>
      <figcaption>
        <h3>Cleane Code</h3>
        <div class="present">
          <div class="pre"></div>
          <span>70% Reading</span>
        </div>
        <div class="read">
          <a>Continue reading</a>
          <fa-icon [icon]="faArrowUpRightFromSquare"></fa-icon>
        </div>
      </figcaption>
    </div>
    <fa-icon [icon]="faAngleRight"></fa-icon>
  </div>
</section>
<section>
  <app-catigores></app-catigores>
</section>
